<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buat Event</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <br>
    <br>
    <br>
    <br>
    <div class="container">

        <div class="d-flex justify-content-center">

            <h1 class="">Buat Event</h1>
        </div>
        <form action="/list-event">

            <div class="mb-3">
                <label for="nama-event" class="form-label">Nama Event</label>
                <input type="text" class="form-control" id="nama-event" placeholder="Kajian Milenial">
            </div>
            <div class="mb-3">
                <label for="deskripsi-event" class="form-label"> Deskripsi Event</label>
                <textarea class="form-control" id="deskripsi-event" rows="3" placeholder="Kajian Milenial merupakan"></textarea>
              </div>
            
            
            <div class="mb-3">
                <label for="penyelenggara-event" class="form-label">Penyelenggara Event</label>
                <input type="text" class="form-control" id="penyelenggara-event" placeholder="HMRPL">
            </div>
            <div class="mb-3">
                <label for="divisi-event" class="form-label"> Divisi, Jumlah orang dibuuhkan & Jobdesk dari divisi tersebut</label>
                <textarea class="form-control" id="deskripsi-event" rows="3" placeholder=
                "# Divisi Acara (10 Orang)
- Memasikan acara lancar
- menghubungi pemateri"
                ></textarea>
              </div>
              <div class="mb-3">
                <label for="benefit-event" class="form-label"> Benefit Mengikuti Event</label>
                <textarea class="form-control" id="benefit-event" rows="3" placeholder=
"- Mendapat Relasi
- Menambah pengalaman
- Mendapat honor sebesar 10jt"

                ></textarea>
              </div>
            <div class="row">

                <div class="col-6">

                    <div class="mb-3">
                        <label for="kepanitiaan-mulai" class="form-label">Waktu kepanitiaan Mulai</label>
                        <input type="datetime-local" class="form-control" id="kepanitiaan-mulai">
                    </div>
                </div>
                <div class="col-6">

                    <div class="mb-3">
                        <label for="kepanitiaan-selesai" class="form-label">Waktu kepanitiaan Selesai</label>
                        <input type="datetime-local" class="form-control" id="kepanitiaan-selesai">
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-6">

                    <div class="mb-3">
                        <label for="event-mulai" class="form-label">Waktu Event Mulai</label>
                        <input type="datetime-local" class="form-control" id="event-mulai">
                    </div>
                </div>
                <div class="col-6">

                    <div class="mb-3">
                        <label for="event-selesai" class="form-label">Waktu Event Selesai</label>
                        <input type="datetime-local" class="form-control" id="event-selesai">
                    </div>
                </div>
                <div class="col-6">

                    <div class="mb-3">
                        <label for="poster-acara" class="form-label">Poster Pendaftaran</label>
                        <input type="file" class="form-control" id="poster-acara">
                    </div>
                </div>
            </div>
            
            <button class="btn btn-primary" type="submit">Buat Event</button>
        </form>
        </div>
          

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>