<link rel="stylesheet" href="./css/login_register.css">	
<div class="background">
</div>

</div>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/" >
			<h1>Create Account</h1>
			<span>or use your email for registration</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<input type="confirm" placeholder="Confirm Password" />
			<button id="SignUp">Next</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/">
			<h1>Sign in</h1>
			<span>or use your account</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button id="SignIn">Sign In</button>
		</form>
	</div>
	<div class="form-container identitas-container">
		<form action="/">
			<h1 style="text-align: center;">Identitas Lengkap</h1>
			<span>Masukkan data Diri</span>
			<div class="center-form">
				<div class="center-form-left">
					<input type="text" id="Fname" placeholder="First Name" />
					<input type="text" id="Lname" placeholder="Last Name" />
					<input type="text" id="phone" placeholder="Phone" />
					<div class="gender-input">
						<label for="gender">Gender:</label>
						<input type="radio" id="gender-male" name="gender" value="Male"> Male
						<input type="radio" id="gender-female" name="gender" value="Female"> Female
					</div>
				</div>
				<div class="center-form-right">
					<div class="form-group">
						<select id="fakultas" placeholder="Fakultas">
							<option value="" disabled selected>Select your faculty</option>
							<option value="FTE">Fakultas Teknik Elektro</option>
							<option value="FRI">Fakultas Rekayasa Industri</option>
							<option value="FIF">Fakultas Informatika</option>
							<option value="FIK">Fakultas Industri Kreatif</option>
							<option value="FKB">Fakultas Komunikasi dan Bisnis</option>
							<option value="FEB">Fakultas Ekonomi dan Bisnis</option>
							<option value="FIT">Fakultas Ilmu Terapan</option>
						</select>
					</div>
					<div class="form-group">
						<select id="prodi" placeholder="Prodi">
							<option value="" disabled selected>Select your program</option>
						</select>
						<input type="text" id="nim" placeholder="NIM" />
					</div>
				</div>
			</div>
			<br>
			<button id="submitSignup">Sign Up</button>
		</form>
		
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<script src="./js/login_register.js"></script>
