:root {
    --font-default: "Open Sans", sans-serif;
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Poppins", sans-serif;
    --color-default: #222222;
    --color-primary: #A2202F;
    --color-secondary: #fff;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--font-default);
    color: var(--color-default);
  }
  
  .sidebar {
    background-color: #606060;
    color: white;
    width: 100%;
    height: 120%;
    position: relative;
  }
  
  .sidebar a {
    color: white;
    display: block;
    padding-top: 20px;
    font-size: 20px;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .content {
    background-color: whitesmoke;
    padding: 20px;
    font-size: 15px;
    font-weight: 400;
  }
  
  .card {
    display: relative;
    flex-direction: column;
  }
  
  /* Tampilan logout */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Tampilan log out */
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
  }
  
  /* Tampilan untuk Cancel */
  .cancelButton {
    background-color: #ccc;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    width: min-content;
  }
  
  .cancelButton:hover {
    background-color: #aaa;
  }
  
  /* tampilan untuk YES */
  .yesButton {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    width: min-content;
  }
  
  .yesButton:hover {
    background-color: #45a049;
  }
  