
  <link href="./css/Gallery.css" rel="stylesheet">

  <div class="container-fluid">
    <div class="Tvent-gallery">
      <div class="gallery-item">
        <img src="https://images.pexels.com/photos/3546429/pexels-photo-3546429.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image 1">
        <div class="overlay">
          <p>PKKMB 2019</p>
        </div>
      </div>

      <div class="gallery-item">
        <img src="https://images.pexels.com/photos/3889868/pexels-photo-3889868.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image 2">
        <div class="overlay">
          <p>PKKMB 2020</p>
        </div>
      </div>

      <div class="gallery-item">
        <img src="https://images.pexels.com/photos/2326290/pexels-photo-2326290.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
        <div class="overlay">
          <p>PKKMB 2021</p>
        </div>
      </div>

      <div class="gallery-item">
        <img src="https://images.pexels.com/photos/3251006/pexels-photo-3251006.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
        <div class="overlay">
          <p>PKKMB 2022</p>
        </div>
      </div>

      <div class="gallery-item">
        <img src="https://images.pexels.com/photos/1980720/pexels-photo-1980720.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
        <div class="overlay">
          <p>Festival Budaya 2022</p>
        </div>
      </div>

      <div class="gallery-item">
        <img src="https://images.pexels.com/photos/3546429/pexels-photo-3546429.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
        <div class="overlay">
          <p>Telkom Festival 2021</p>
        </div>
      </div>

      <div class="gallery-item">
        <img src="https://images.pexels.com/photos/2091160/pexels-photo-2091160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/>
        <div class="overlay">
          <p>Islah 2023</p>
        </div>
      </div>

      <div class="gallery-item">
        <img src="https://images.pexels.com/photos/2019546/pexels-photo-2019546.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        <div class="overlay">
          <p>Telkom Hallowen 2023</p>
        </div>
      </div>

      <div class="gallery-item">
        <img src="https://images.pexels.com/photos/3779785/pexels-photo-3779785.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"><div class="overlay">
          <p>Idul Adha 2019</p>
        </div>
      </div>

      <div class="gallery-item">
        <img src="https://images.pexels.com/photos/3889868/pexels-photo-3889868.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
        <div class="overlay">
          <p>Idul Adha 2020</p>
        </div>
      </div>

      <div class="gallery-item">
        <img src="https://images.pexels.com/photos/2360569/pexels-photo-2360569.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
        <div class="overlay">
          <p>Festival budaya 2022</p>
        </div>
      </div>

      <div class="gallery-item">
        <img src="https://images.pexels.com/photos/259987/pexels-photo-259987.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
        <div class="overlay">
          <p>Seminat Kecerdasan Buatan 2022</p>
        </div>
      </div>
     
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/3546429/pexels-photo-3546429.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image 1">
          <div class="overlay">
            <p>PKKMB 2019</p>
          </div>
        </div>
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/3889868/pexels-photo-3889868.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image 2">
          <div class="overlay">
            <p>PKKMB 2020</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/2326290/pexels-photo-2326290.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
          <div class="overlay">
            <p>PKKMB 2021</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/3251006/pexels-photo-3251006.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
          <div class="overlay">
            <p>PKKMB 2022</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/1980720/pexels-photo-1980720.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
          <div class="overlay">
            <p>Festival Budaya 2022</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/3546429/pexels-photo-3546429.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
          <div class="overlay">
            <p>Telkom Festival 2021</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/2091160/pexels-photo-2091160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/>
          <div class="overlay">
            <p>Islah 2023</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/2019546/pexels-photo-2019546.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
          <div class="overlay">
            <p>Telkom Hallowen 2023</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/3779785/pexels-photo-3779785.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"><div class="overlay">
            <p>Idul Adha 2019</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/3889868/pexels-photo-3889868.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
          <div class="overlay">
            <p>Idul Adha 2020</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/2360569/pexels-photo-2360569.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
          <div class="overlay">
            <p>Festival budaya 2022</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/259987/pexels-photo-259987.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
          <div class="overlay">
            <p>Seminat Kecerdasan Buatan 2022</p>
          </div>
        </div>

        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/3546429/pexels-photo-3546429.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image 1">
          <div class="overlay">
            <p>PKKMB 2019</p>
          </div>
        </div>
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/3889868/pexels-photo-3889868.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image 2">
          <div class="overlay">
            <p>PKKMB 2020</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/2326290/pexels-photo-2326290.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
          <div class="overlay">
            <p>PKKMB 2021</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/3251006/pexels-photo-3251006.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
          <div class="overlay">
            <p>PKKMB 2022</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/1980720/pexels-photo-1980720.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
          <div class="overlay">
            <p>Festival Budaya 2022</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/3546429/pexels-photo-3546429.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
          <div class="overlay">
            <p>Telkom Festival 2021</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/2091160/pexels-photo-2091160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/>
          <div class="overlay">
            <p>Islah 2023</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/2019546/pexels-photo-2019546.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
          <div class="overlay">
            <p>Telkom Hallowen 2023</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/3779785/pexels-photo-3779785.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"><div class="overlay">
            <p>Idul Adha 2019</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/3889868/pexels-photo-3889868.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
          <div class="overlay">
            <p>Idul Adha 2020</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/2360569/pexels-photo-2360569.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
          <div class="overlay">
            <p>Festival budaya 2022</p>
          </div>
        </div>
  
        <div class="gallery-item">
          <img src="https://images.pexels.com/photos/259987/pexels-photo-259987.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
          <div class="overlay">
            <p>Seminat Kecerdasan Buatan 2022</p>
          </div>
        </div>
       
          <div class="gallery-item">
            <img src="https://images.pexels.com/photos/3546429/pexels-photo-3546429.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image 1">
            <div class="overlay">
              <p>PKKMB 2019</p>
            </div>
          </div>
          <div class="gallery-item">
            <img src="https://images.pexels.com/photos/3889868/pexels-photo-3889868.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image 2">
            <div class="overlay">
              <p>PKKMB 2020</p>
            </div>
          </div>
    
          <div class="gallery-item">
            <img src="https://images.pexels.com/photos/2326290/pexels-photo-2326290.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
            <div class="overlay">
              <p>PKKMB 2021</p>
            </div>
          </div>
    
          <div class="gallery-item">
            <img src="https://images.pexels.com/photos/3251006/pexels-photo-3251006.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
            <div class="overlay">
              <p>PKKMB 2022</p>
            </div>
          </div>
    
          <div class="gallery-item">
            <img src="https://images.pexels.com/photos/1980720/pexels-photo-1980720.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
            <div class="overlay">
              <p>Festival Budaya 2022</p>
            </div>
          </div>
    
          <div class="gallery-item">
            <img src="https://images.pexels.com/photos/3546429/pexels-photo-3546429.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            <div class="overlay">
              <p>Telkom Festival 2021</p>
            </div>
          </div>
    
          <div class="gallery-item">
            <img src="https://images.pexels.com/photos/2091160/pexels-photo-2091160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/>
            <div class="overlay">
              <p>Islah 2023</p>
            </div>
          </div>
    
          <div class="gallery-item">
            <img src="https://images.pexels.com/photos/2019546/pexels-photo-2019546.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            <div class="overlay">
              <p>Telkom Hallowen 2023</p>
            </div>
          </div>
    
          <div class="gallery-item">
            <img src="https://images.pexels.com/photos/3779785/pexels-photo-3779785.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"><div class="overlay">
              <p>Idul Adha 2019</p>
            </div>
          </div>
    
          <div class="gallery-item">
            <img src="https://images.pexels.com/photos/3889868/pexels-photo-3889868.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
            <div class="overlay">
              <p>Idul Adha 2020</p>
            </div>
          </div>
    
          <div class="gallery-item">
            <img src="https://images.pexels.com/photos/2360569/pexels-photo-2360569.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
            <div class="overlay">
              <p>Festival budaya 2022</p>
            </div>
          </div>
    
          <div class="gallery-item">
            <img src="https://images.pexels.com/photos/259987/pexels-photo-259987.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            <div class="overlay">
              <p>Seminat Kecerdasan Buatan 2022</p>
            </div>
          </div>
          
          <div class="pagination" id="pagination"></div>
    </div>
    <br>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  // Number of items per page
  var itemsPerPage = 18;

  // Get the total number of gallery items
  var totalItems = $(".gallery-item").length;

  // Calculate the total number of pages
  var totalPages = Math.ceil(totalItems / itemsPerPage);

  // Display the first page initially
  showPage(1);

  // Function to display a specific page
  function showPage(page) {
    $(".gallery-item").hide();
    var startIndex = (page - 1) * itemsPerPage;
    var endIndex = startIndex + itemsPerPage;
    $(".gallery-item").slice(startIndex, endIndex).show();
  }

  // Function to generate pagination buttons
  function generatePaginationButtons(currentPage) {
    $("#pagination").empty();

    var startPage, endPage;

    if (totalPages <= 10) {
      startPage = 1;
      endPage = totalPages;
    } else {
      if (currentPage <= 6) {
        startPage = 1;
        endPage = 10;
      } else if (currentPage + 4 >= totalPages) {
        startPage = totalPages - 9;
        endPage = totalPages;
      } else {
        startPage = currentPage - 5;
        endPage = currentPage + 4;
      }
    }

    if (currentPage > 1) {
      $("#pagination").append('<button onclick="showPage(' + (currentPage - 1) + ')">«</button>');
    }

    for (var i = startPage; i <= endPage; i++) {
      $("#pagination").append('<button onclick="showPage(' + i + ')"' + (i === currentPage ? ' class="active"' : '') + '>' + i + '</button>');
    }

    if (currentPage < totalPages) {
      $("#pagination").append('<button onclick="showPage(' + (currentPage + 1) + ')">»</button>');
    }
  }

  // Call the function to generate pagination buttons
  generatePaginationButtons(1);

  // Handle button clicks
  $(document).on("click", "#pagination button", function () {
    var currentPage = parseInt($(this).text());
    generatePaginationButtons(currentPage);
  });
</script>
