  
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Welcome to<span> Tvent</span></h2>
          <p>Selamat datang di platform unggulan kami, Telkom University Kepanitiaan! Kami dengan bangga mempersembahkan
            kepada Anda inovasi terbaru dalam dunia kepanitiaan, sebuah aplikasi revolusioner yang akan membantu Anda
            merencanakan, mengelola, dan mempromosikan acara atau kegiatan Anda dengan cara yang belum pernah terjadi
            sebelumnya.</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#hero" class="btn-get-started">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="./img/People.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>


    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row row-cols-3 gy-4 mt-5">
          <div class="col-xl-4 col-md-12" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-bookmark-plus-fill"></i></div>
              <h4 class="title"><a href="/list-event" class="stretched-link">Join Event</a></h4>
            </div>
          </div>

          <div class="col-xl-4 col-md-12" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-calendar-plus-fill"></i></div>
              <h4 class="title"><a href="/buat-event" class="stretched-link">Upload Event</a></h4>
            </div>
          </div>

          <div class="col-xl-4 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-grid-1x2-fill"></i></div>
              <h4 class="title"><a href="/gallery" class="stretched-link">Gallery Event</a></h4>
            </div>
          </div>

        </div>
      </div>
    </div>
    </div>
  </section>
  

  

   
