    <link rel="stylesheet" href="./css/MyEvent.css">
    <section>
      <div class="container">
        <h1>My Event</h1>
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="card event-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <img src="./img/tu1.jpg" alt="Event 1 Image" class="event-image">
                  </div>
                  <div class="col-md-8">
                    <h5 class="card-title">PKKMB</h5>
                    <p class="card-text">Jabatan: Ketua</p>
                    <a href="event_details.html" class="detail-link">Detail</a> <!-- Tambahkan tautan "Detail" ke halaman lain -->
                  </div>
                </div>
              </div>
              <div class="card-footer bg-primary text-white"> Status: Aktif </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card event-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <img src="./img/tu2.jpg" alt="Event 2 Image" class="event-image">
                  </div>
                  <div class="col-md-8">
                    <h5 class="card-title">ISLAH 2023</h5>
                    <p class="card-text">Jabatan: Logistik</p>
                    <a href="event_details.html" class="detail-link">Detail</a> <!-- Tambahkan tautan "Detail" ke halaman lain -->
                  </div>
                </div>
              </div>
              <div class="card-footer bg-success text-white"> Status: Selesai </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card event-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <img src="./img/tu3.jpg" alt="Event 3 Image" class="event-image">
                  </div>
                  <div class="col-md-8">
                    <h5 class="card-title">SQL 2022</h5>
                    <p class="card-text">Jabatan: Acara</p>
                    <a href="event_details.html" class="detail-link">Detail</a> <!-- Tambahkan tautan "Detail" ke halaman lain -->
                  </div>
                </div>
              </div>
              <div class="card-footer bg-danger text-white"> Status: Dibatalkan </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card event-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <img src="./img/tu3.jpg" alt="Event 4 Image" class="event-image">
                  </div>
                  <div class="col-md-8">
                    <h5 class="card-title">Code Breaker 2021</h5>
                    <p class="card-text">Jabatan: Acara</p>
                    <a href="event_details.html" class="detail-link">Detail</a> <!-- Tambahkan tautan "Detail" ke halaman lain -->
                  </div>
                </div>
              </div>
              <div class="card-footer bg-danger text-white"> Status: Pending </div>
            </div>
          </div>
          <!-- untuk nambah event -->
        </div>
      </div>
    </section>
 
      <script src="./js/MyEvent.js"></script>
 